html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Open Sans', serif;
}

.center {
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
}

.top10 {
  margin-top: 10px;
}

.top20 {
  margin-top: 20px;
}

.top30 {
  margin-top: 30px;
}

.top40 {
  margin-top: 40px;
}

.bottom20 {
  margin-bottom: 20px;
}

.topminus20 {
  margin-top: -20px;
}

.topminus30 {
  margin-top: -30px;
}

.red {
  color: #FC1A1A;
}

.left10 {
  margin-left: 10px;
}

.left20 {
  margin-left: 20px;
}

.right10 {
  margin-right: 10px;
}

.right20 {
  margin-right: 20px;
}

.right30 {
  margin-right: 30px;
}

.right35p {
  margin-right: 35%;
}

.right50 {
  margin-right: 50px;
}

.MuiInput-underline:before {
  transform: none!important;
  transition: none!important;
  border-bottom: none!important;
}

.MuiInput-underline:after {
  transform: none!important;
  transition: none!important;
  border-bottom: none!important;
}

.MuiInput-underline {
  font-size: 19pt!important;
}

.notDragging {
  background-color: #fffdff;
  color: #b6b4b6;
}

.apart {
  display: flex;
  justify-content: space-between;
}

input {
  margin-left: 30px!important;
  position: relative;
  top: 40%;
}

.MuiInputBase-input:focus {
  outline: none!important;
}
